<!DOCTYPE html>
<html lang="en" class="no-js" >
<head>

    <!--- basic page needs
    ================================================== -->
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="google" content="notranslate" />
    <title>Yuna - First Steps to TrentU Life</title>

    <script>
        document.documentElement.classList.remove('no-js');
        document.documentElement.classList.add('js');
    </script>

    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="../static/vendor.css">
    <link rel="stylesheet" href="../static/style.css">

    <!-- favicons
    ================================================== -->
    <link rel="apple-touch-icon" sizes="180x180" href="../static/assets/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../static/assets/favicon-Y32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../static/assets/favicon-Y16x16.png">
    <!-- <link rel="manifest" href="site.webmanifest"> -->

</head>


<body id="top">

    
    <!-- preloader
    ================================================== -->
    <div id="preloader">
        <div id="loader" class="dots-fade">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>


    <!-- page wrap
    ================================================== -->
    <div id="page" class="s-pagewrap">


        <!-- # site header 
        ================================================== -->
        <header class="s-header">
            <div class="row s-header__inner">

                <div class="s-header__block">
                    <div class="s-header__logo">
                        <a class="logo" href="../templates/index.html">
                        </a>
                    </div>

                    <a class="s-header__menu-toggle" href="#0"><span>Menu</span></a>
                </div> <!-- end s-header__block -->

                <nav class="s-header__nav">    
                    <ul class="s-header__menu-links">
                        <li class="current"><a class="" href="./index.html#intro">Intro</a></li>
                        <li><a class="" href="./index.html#about">About</a></li>
                        <li><a class="" href="./index.html#works">Works</a></li>
                        <li><a class="" href="./index.html#footer">Contact</a></li>
                    </ul> <!-- s-header__menu-links -->    
                </nav> <!-- end s-header__nav -->

            </div> <!-- end s-header__inner -->
        </header> <!-- end s-header -->


        <!-- # about
        ================================================== -->
        <section id="about" class="s-about target-section">

            <div class="row s-about__content">
                <div class="column xl-12">    
                    
                    <div class="section-header" data-num="01">
                        <h2 class="text-display-title">Frist Steps to TrentU Life.</h2>
                    </div> <!-- end section-header -->
                      
                    <h3 class=""><a href="https://github.com/yunamishra/First-Steps-Towards-TrentU-Life"> Check out more details on Github </a> </h3>
                    <p class="attention-getter">
                    This project successfully developed an intuitive website designed to assist international students transitioning to Trent University. 
                    By consolidating essential information and steps into a single platform, the site guided students through various processes they 
                    needed to navigate after accepting their offer, including course registration and utilization of the MyTrent portal. 
                    The unique design presented these steps in a game-like, level format, enabling users to track their progress and ensuring that 
                    no crucial step was overlooked.
                    </p>

                    <p><b>Project Client:</b> Trent Univeristy International Department Head</p>
                    <p><b>Project Start Date: </b> September 15, 2022</p>
                    <p><b>Project End Date: </b> November 23, 2022</p>
                    <p><b>Project Methodology: </b> Agile</p>
                    
                    <h3 class="">Project Goals and Objective</h3>
                    <p class="attention-getter">
                    The primary goal was to provide updated and easily accessible information about Trent University’s intake procedures 
                    for international students. The website featured a straightforward and user-friendly interface, with a consistent design 
                    across all pages to enhance navigation. Ensuring that all initial steps were presented in the correct sequential order was 
                    vital for a smooth user experience.
                    </p>

                    <h3 class="">Project Planning</h3>
                    <p class="attention-getter">
                    The project began with an initial sprint that focused on defining the scope, gathering requirements, and planning the project's 
                    features. Following this, four subsequent sprints were organized, each lasting two weeks. These sprints allowed for the phased 
                    release of key features, ensuring a systematic approach to development. During this process, critical functionalities were implemented, 
                    including applications for study permits, email activation, housing applications, and guidance on course registration. Regular feedback 
                    sessions with the client, Paul Longhurst, and Trent International facilitated continuous improvement, allowing for the addition and 
                    testing of new features with each release.
                    </p>

                    <p class="attention-getter">
                    Bi-weekly feedback sessions with the client ensured that the website met the needs of international students. 
                    This ongoing dialogue fostered a collaborative environment, allowing the team to refine features and enhance user experience, 
                    ultimately leading to a polished final product. This initiative significantly improved the transition experience for 
                    international students at Trent University, providing a centralized platform for essential information and a structured, 
                    engaging interface that simplified their journe
                    </p>
                        
                        <div class="grid-list-items__item s-about__block">
                            <h4 class="s-about__block-title">Platform Foundation</h4>

                            <ul class="s-about__list">
                                <li>
                                    - Web Design: HTML, CSS
                                </li>
                                <li>
                                    - Front-end Development: JavaScript
                                </li>
                                <li>
                                    - Agile Project Management and Planning 
                                </li>
                            </ul>
                        </div> <!-- end s-about__block -->

                    </div> <!-- grid-list-items -->

                </div> <!--end column -->
            </div> <!--end s-about__content -->
            
        </section> <!-- end s-about -->   



        <!-- # works
        ================================================== -->
        <section id="works" class="s-works target-section">

            <div class="row">
                <div class="column xl-12">
                    <div class="section-header" data-num="02">
                        <h2 class="text-display-title">Gallery.</h2>
                    </div> <!-- end section-header -->
                </div>
            </div>

            <div class="row folio-entries">
                <div class="column entry">
                    <div class="entry__thumb">
                        <img src="../static/assets/images/projects/trentu.png" srcset="../static/assets/images/projects/trentu.png 1x, ../static/assets/images/projects/trentu.png 2x" alt="">
                    </div>
                </div> <!-- entry -->
                <div class="column entry">
                    <div class="entry__thumb">
                        <img src="../static/assets/images/projects/cois3850.png" srcset="../static/assets/images/projects/cois3850.png 1x, ../static/assets/images/projects/cois3850.png 2x" alt="">
                    </div>
                </div> <!-- entry -->
            </div> <!-- folio entries -->


        </section> <!-- end s-works --> 

        <!-- # footer 
        ================================================== -->
        <footer id="footer" class="s-footer target-section">
            <div class="ss-go-top">
                <a class="smoothscroll" title="Back to Top" href="#top">                 
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgba(0, 0, 0, 1);transform: ;msFilter:;"><path d="M5.536 21.886a1.004 1.004 0 0 0 1.033-.064l13-9a1 1 0 0 0 0-1.644l-13-9A1 1 0 0 0 5 3v18a1 1 0 0 0 .536.886z"></path></svg>
                </a>                                
                <span>Back To Top</span>   
            </div> <!-- end ss-go-top -->
            
        </footer> <!-- end s-footer -->

    </div> <!-- end page-wrap -->


    <!-- Java Script
    ================================================== -->
    <script src="../static/plugins2.js"></script>
    <script src="../static/main2.js"></script>

</body>
</html>