<!DOCTYPE html>
<html lang="en" class="no-js" >
<head>

    <!--- basic page needs
    ================================================== -->
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="google" content="notranslate" />
    <title>Yuna - KPI Dental Dashboard</title>

    <script>
        document.documentElement.classList.remove('no-js');
        document.documentElement.classList.add('js');
    </script>

    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="../static/vendor.css">
    <link rel="stylesheet" href="../static/style.css">

    <!-- favicons
    ================================================== -->
    <link rel="apple-touch-icon" sizes="180x180" href="../static/assets/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../static/assets/favicon-Y32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../static/assets/favicon-Y16x16.png">
    <!-- <link rel="manifest" href="site.webmanifest"> -->

</head>


<body id="top">

    
    <!-- preloader
    ================================================== -->
    <div id="preloader">
        <div id="loader" class="dots-fade">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>


    <!-- page wrap
    ================================================== -->
    <div id="page" class="s-pagewrap">


        <!-- # site header 
        ================================================== -->
        <header class="s-header">
            <div class="row s-header__inner">

                <div class="s-header__block">
                    <div class="s-header__logo">
                        <a class="logo" href="../templates/index.html">
                        </a>
                    </div>

                    <a class="s-header__menu-toggle" href="#0"><span>Menu</span></a>
                </div> <!-- end s-header__block -->

                <nav class="s-header__nav">    
                    <ul class="s-header__menu-links">
                        <li class="current"><a class="" href="./index.html#intro">Intro</a></li>
                        <li><a class="" href="./index.html#about">About</a></li>
                        <li><a class="" href="./index.html#works">Works</a></li>
                        <li><a class="" href="./index.html#footer">Contact</a></li>
                    </ul> <!-- s-header__menu-links -->    
                </nav> <!-- end s-header__nav -->

            </div> <!-- end s-header__inner -->
        </header> <!-- end s-header -->


        <!-- # about
        ================================================== -->
        <section id="about" class="s-about target-section">

            <div class="row s-about__content">
                <div class="column xl-12">    
                    
                    <div class="section-header" data-num="01">
                        <h2 class="text-display-title">KPI Dental Dashboard.</h2>
                    </div> <!-- end section-header -->
                      
                    <h3 class=""><a href="https://github.com/yunamishra/KPI-Dental-Dashboard"> Check out more details on Github </a> </h3>
                    <p class="attention-getter">
                    KPI Dental Dashboard involved the development of a Data Analytics Web Application Dashboard for a well-established dental clinic, Longworth Dental Clinic. 
                    The dashboard provides a vital visual representation of Key Performance Indicators (KPIs) and other key metrics, enabling the clinic to make informed decisions
                    based on real-time data.
                    </p>

                    <p><b>Project Client:</b> Longworth Dental Clinic</p>
                    <p><b>Project Start Date: </b> September 15, 2022</p>
                    <p><b>Project End Date: </b> March 31, 2023</p>
                    <p><b>Project Methodology: </b> Agile</p>

                    <h3 class="">Collaborative Development</h3>
                    <p class="attention-getter">
                    The project was executed through a combination of individual and team efforts, emphasizing efficiency and user experience. 
                    Close collaboration with the client facilitated the consolidation of essential documents, including the Requirements Document, Project Scope, 
                    Project Plan, and Project Design Document. Utilizing Agile methodology, the project flow and source code were integrated into open-source platforms 
                    such as Atlassian and GitHub. Effective communication within the team and regular client meetings ensured alignment throughout the project.
                    </p>

                    <h3 class="">Technical Implementation</h3>
                    <p class="attention-getter">
                    The standout feature of the application is its ability to allow users to upload CSV files containing weekly data to the platform database downloaded 
                    from the clinic's local server utilizing batch jobs. Subsequent analysis is performed using a sophisticated algorithm, generating visualizations 
                    tailored to the client’s specifications.
                    </p>

                    <p class="attention-getter">
                    The project involved working with proprietary software and managing data transfer between external databases and the existing system. 
                    The JavaScript library Plotly was utilized for dynamic and interactive data visualizations, ensuring that the clinic can easily interpret and leverage their insights.
                    </p>
                        
                        <div class="grid-list-items__item s-about__block">
                            <h4 class="s-about__block-title">Platform Foundation</h4>

                            <ul class="s-about__list">
                                <li>
                                    - Data Analysis & Visualization Principles
                                </li>
                                <li>
                                    - Web Design: HTML, CSS
                                </li>
                                <li>
                                    - Front-end Development: JavaScript
                                </li>
                                <li>
                                    - Back-end Development: PHP
                                </li>
                                <li>
                                    - Database Management: MySql
                                </li>
                                <li>
                                    - OS Navigation and Batch Jobs - Powershell
                                </li>
                            </ul>
                        </div> <!-- end s-about__block -->

                    </div> <!-- grid-list-items -->

                </div> <!--end column -->
            </div> <!--end s-about__content -->
            
        </section> <!-- end s-about -->   



        <!-- # works
        ================================================== -->
        <section id="works" class="s-works target-section">

            <div class="row">
                <div class="column xl-12">
                    <div class="section-header" data-num="02">
                        <h2 class="text-display-title">Gallery.</h2>
                    </div> <!-- end section-header -->
                </div>
            </div>

            <div class="row folio-entries">
                <div class="column entry">
                    <div class="entry__thumb">
                        <img src="../static/assets/images/projects/longworth1b.png" srcset="../static/assets/images/projects/longworth1b.png 1x, ../static/assets/images/projects/longworth1b.png 2x" alt="">
                    </div>
                </div> <!-- entry -->
                <div class="column entry">
                    <div class="entry__thumb">
                        <img src="../static/assets/images/projects/longworth2.png" srcset="../static/assets/images/projects/longworth2.png 1x, ../static/assets/images/projects/longworth2.png 2x" alt="">
                    </div>
                </div> <!-- entry -->
            </div> <!-- folio entries -->


        </section> <!-- end s-works --> 

        <!-- # footer 
        ================================================== -->
        <footer id="footer" class="s-footer target-section">
            <div class="ss-go-top">
                <a class="smoothscroll" title="Back to Top" href="#top">                 
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgba(0, 0, 0, 1);transform: ;msFilter:;"><path d="M5.536 21.886a1.004 1.004 0 0 0 1.033-.064l13-9a1 1 0 0 0 0-1.644l-13-9A1 1 0 0 0 5 3v18a1 1 0 0 0 .536.886z"></path></svg>
                </a>                                
                <span>Back To Top</span>   
            </div> <!-- end ss-go-top -->
            
        </footer> <!-- end s-footer -->

    </div> <!-- end page-wrap -->


    <!-- Java Script
    ================================================== -->
    <script src="../static/plugins2.js"></script>
    <script src="../static/main2.js"></script>

</body>
</html>