<!DOCTYPE html>
<html lang="en" class="no-js" >
<head>

    <!--- basic page needs
    ================================================== -->
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="google" content="notranslate" />
    <title>Yuna - New Dawn</title>

    <script>
        document.documentElement.classList.remove('no-js');
        document.documentElement.classList.add('js');
    </script>

    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="../static/vendor.css">
    <link rel="stylesheet" href="../static/style.css">

    <!-- favicons
    ================================================== -->
    <link rel="apple-touch-icon" sizes="180x180" href="../static/assets/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../static/assets/favicon-Y32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../static/assets/favicon-Y16x16.png">
    <!-- <link rel="manifest" href="site.webmanifest"> -->>

</head>


<body id="top">

    
    <!-- preloader
    ================================================== -->
    <div id="preloader">
        <div id="loader" class="dots-fade">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>


    <!-- page wrap
    ================================================== -->
    <div id="page" class="s-pagewrap">


        <!-- # site header 
        ================================================== -->
        <header class="s-header">
            <div class="row s-header__inner">

                <div class="s-header__block">
                    <div class="s-header__logo">
                        <a class="logo" href="../templates/index.html">
                        </a>
                    </div>

                    <a class="s-header__menu-toggle" href="#0"><span>Menu</span></a>
                </div> <!-- end s-header__block -->

                <nav class="s-header__nav">    
                    <ul class="s-header__menu-links">
                        <li class="current"><a class="" href="./index.html#intro">Intro</a></li>
                        <li><a class="" href="./index.html#about">About</a></li>
                        <li><a class="" href="./index.html#works">Works</a></li>
                        <li><a class="" href="./index.html#footer">Contact</a></li>
                    </ul> <!-- s-header__menu-links -->    
                </nav> <!-- end s-header__nav -->

            </div> <!-- end s-header__inner -->
        </header> <!-- end s-header -->


        <!-- # about
        ================================================== -->
        <section id="about" class="s-about target-section">

            <div class="row s-about__content">
                <div class="column xl-12">    
                    
                    <div class="section-header" data-num="01">
                        <h2 class="text-display-title">New Dawn.</h2>
                    </div> <!-- end section-header -->
                      
                    <h3 class=""><a href="https://github.com/yunamishra/New-Dawn-Enactus-Project"> Check out more details on Github </a> </h3>
                    <p class="attention-getter">
                        New Dawn emerged from a growing concern regarding the visibility and welfare of the homeless population in cold urban environments. 
                        Observations of individuals seeking refuge in parks during harsh winter conditions inspired the creation of this project, 
                        which aims to bridge the gap between the community and those in need.
                    </p>

                    <h3 class="">Project Vision</h3>
                    <p class="attention-getter">
                        According to the 2021 Canada Census, thousands of individuals were identified as homeless, highlighting a pressing social issue. 
                        To facilitate meaningful support from the public, it is essential to provide an accessible way to locate and understand the needs 
                        of this population. <br>
                        New Dawn aims to develop a web application that serves as a comprehensive resource for the homeless community. 
                        This platform will enable users to upload information about homeless individuals, including their locations and specific needs. 
                        By doing so, it not only gives a voice to this often-overlooked community but also empowers those who wish to assist them.
                    </p>

                    <ul class="s-about__list">
                        <li class="bullet-list">
                            To create an intuitive platform that allows the public to easily upload information about individuals in need.
                        </li>
                        <li class="bullet-list">
                            To incorporate geolocation features that facilitate localized assistance.
                        </li>
                        <li class="bullet-list">
                            To provide updated information on nearby shelters and resources.
                        </li>
                        <li class="bullet-list">
                            To ensure a successful launch and widespread adoption of the web application.
                        </li>
                    </ul>

                    <h3 class="">Objectives</h3>
                    <p class="attention-getter">
                        The project focuses on developing a user-friendly web application for public contributions regarding the homeless, 
                        enabling account creation for personalized engagement, integrating geolocation capabilities, and including feedback 
                        features for users who provide assistance. By addressing these objectives, New Dawn aims to contribute to reducing 
                        poverty rates, help decrease incidents of theft and related crimes, create a unified platform for discovering and 
                        supporting the homeless population, and improve resource efficiency by redirecting items to those in need. New Dawn 
                        seeks to illuminate the path toward a more compassionate and informed society, where the homeless community can 
                        find the support and recognition they deserve.
                    </p>
                        
                        <div class="grid-list-items__item s-about__block">
                            <h4 class="s-about__block-title">Platform Foundation</h4>

                            <ul class="s-about__list">
                                <li>
                                    - Web Design: HTML, CSS
                                </li>
                                <li>
                                    - Front-end Development: JavaScript
                                </li>
                                <li>
                                    - Back-end Development: PHP
                                </li>
                                <li>
                                    - Database Management: MySql
                                </li>
                            </ul>
                        </div> <!-- end s-about__block -->

                    </div> <!-- grid-list-items -->

                </div> <!--end column -->
            </div> <!--end s-about__content -->
            
        </section> <!-- end s-about -->   



        <!-- # works
        ================================================== -->
        <section id="works" class="s-works target-section">

            <div class="row">
                <div class="column xl-12">
                    <div class="section-header" data-num="02">
                        <h2 class="text-display-title">Gallery.</h2>
                    </div> <!-- end section-header -->
                </div>
            </div>

            <div class="row folio-entries">
                <div class="column entry">
                    <div class="entry__thumb">
                        <img src="../static/assets/images/projects/newdawn1.png" srcset="../static/assets/images/projects/newdawn1a.png 1x, ../static/assets/images/projects/newdawn1.png 2x" alt="">
                    </div>
                </div> <!-- entry -->
                <div class="column entry">
                    <div class="entry__thumb">
                        <img src="../static/assets/images/projects/newdawn2.png" srcset="../static/assets/images/projects/newdawn2a.png 1x, ../static/assets/images/projects/newdawn2.png 2x" alt="">
                    </div>
                </div> <!-- entry -->
                <div class="column entry">
                    <div class="entry__thumb">
                        <img src="../static/assets/images/projects/newdawn3.png" srcset="../static/assets/images/projects/newdawn3a.png 1x, ../static/assets/images/projects/newdawn3.png 2x" alt="">
                    </div>
                </div> <!-- entry -->
            </div> <!-- folio entries -->


        </section> <!-- end s-works --> 

        <!-- # footer 
        ================================================== -->
        <footer id="footer" class="s-footer target-section">
            <div class="ss-go-top">
                <a class="smoothscroll" title="Back to Top" href="#top">                 
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgba(0, 0, 0, 1);transform: ;msFilter:;"><path d="M5.536 21.886a1.004 1.004 0 0 0 1.033-.064l13-9a1 1 0 0 0 0-1.644l-13-9A1 1 0 0 0 5 3v18a1 1 0 0 0 .536.886z"></path></svg>
                </a>                                
                <span>Back To Top</span>   
            </div> <!-- end ss-go-top -->
            
        </footer> <!-- end s-footer -->

    </div> <!-- end page-wrap -->


    <!-- Java Script
    ================================================== -->
    <script src="../static/plugins2.js"></script>
    <script src="../static/main2.js"></script>

</body>
</html>